.div{
    text-align: center;

}
body {
    background-color:  rgb(40,130,190);
}
h1{
    text-align: center;
    background-color: rgb(240,70,65);
    box-shadow: 7px 11px 5px 0px rgba(0,0,0,0.75);
    margin: 0px 250px;
}
img{
    display:block;
    margin:auto;
    box-shadow: 7px 11px 5px 0px rgba(0,0,0,0.75);
}
.menu{
    width:100%;
    margin-left:-20px;
}
/*positionnement du menu a 3 entrés*/

p{
    border: 3px solid black;
    padding: 5px;
}
.menu ul{
    text-align: center;
}
/* position du texte dans les 3 boutons du menu*/

.menu ul li{
    background: #FAF0E6;
    display:inline-block;
    width:100px;
    padding: 5px;
    text-align: center;
    border:solid 3px maroon;
    border-radius:8px;
    list-style: none;
    box-shadow:1px 1px 1px;
    margin:0px 10px;
    }
/*mise en forme des boutons du menu*/

.menu>ul li a{
    text-decoration:none;
    color: black;
}